
<nav class="nav navbar-default" rolo="navigation">
	<div class="container-fluid">
		<ul class="nav navbar-nav">
			<li>
				<a class="active" href="./">
					<span class="glyphicon glyphicon-print"></span> Vote!
				</a>
			</li>
			<li>
				<a class="active" href="./standings">
					<span class="glyphicon glyphicon-alt"></span> Standings
				</a>
			</li>
			<li>
				<a class="active" href="./add">
					<span class="glyphicon glyphicon-plus"></span> New Photo
				</a>
			</li>
			<li>
				<a class="active" href="./reset">
					<span class="glyphicon glyphicon-refresh"></span> Reset Database
				</a>
			</li>				
		</ul>
	</div>
</nav>