body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.button-holder{
	width: 200px;
	overflow: hidden;
	margin: auto;
	text-align: center;
}

.vote-button{
	display: inline-block;
	margin: 10px;
}

.voting-image{
	max-width: 600px;
	margin: auto;
}

.voting-image img{
	width: 100%;
}
li{
	list-style-type: none;
}
li img{
	
	width: 50%;

}
.up{
	
	font-size: 20px;
	font-weight: bold;
}